p {
	/* 字体颜色: 茶红色 */
	color: maroon;
}
h1, h2 {/*指定字体*/
	color: grey;
}
h1 {
	border-bottom:1px solid black;
  /*标题h1中间的分割线*/

}
a{
  color:red;
}
body{
  font-family: Arial;
  font-size: 1.5em;
}

em{
  font-family: Cascadia Mono;
}