
body {
	font-size: small;
	font-family: Verdana,Helvetica,Arial;
}

h1, h2 {
	color: #007e7e;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}
p {
	margin: 0;
	padding: 0;
}
.guarantee {
	border: 1px dashed wheat;
	background: #a7cece url(images/background.gif) no-repeat top left;
	padding: 25px 0 25px 80px;
	margin: 30px 250px 30px 30px;
	line-height: 1.9em;
	font-style: italic;
	color: #444444;
	font-family: Georgia, 'Times New Roman';
	border-radius: 0 15px 0 15px;
}
.elixirs {
	border: thin solid #007e7e;
	width: 200px;
	padding: 20px;
	background: url(images/cocktail.gif) repeat-x;
	text-align: center;
	line-height: 1;
	float: right;
}
div h2 {
	color: black;
}
.b{
	color:#444444
}
.c{
	color:#007e7e;
	}
p.a{
	color: aliceblue
}
p#m{
	color: #124682
}
p{
	color: #234612
}
.right {
	float: right;
}

div.block {
	width: 45vw;
	height: 20vh;
	border: 2px solid black;
}

.top {
	margin-bottom: 10px;
}

.bottom {
	margin-top: 20px;
}

.ruler {
	height: 20px;
}