body {
	font-size: small;
	font-family: Verdana, Helvetica, Arial;
	line-height: 1.6em;
}

h1, h2 {
	color: #007e7e;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}

p{	
	padding: 0px;
	margin: 0px;

} 

.guarantee {
	border-color: wheat;
	border-style: dashed;
	border-width: 1px;
	background-color: aquamarine;
	background-image: url(images/background.gif);/*白色的图片，改背景颜色*/
	background-repeat: no-repeat;
  background-position: top left; 
	padding: 25px;
	margin: 30px;
	line-height: 1.9em;
	font-style: italic;
	color: #444;
	font-family: Georgia, 'Times New Roman',;
	padding: 25px;
  padding-left: 80px;
	margin-right: 250px;/*让外边距右边的像素改成250px*/
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	/*border: 1px solid black;*/
}